# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Streamlit Cache
.streamlit/

# Logs
*.log

# System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Large files (optional)
*.pdf
*.csv
*.xlsx
